.skills {
  .skillz {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    &__category {
      width: 30%;
      margin-bottom: 25px;
      @include weird-medium {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px;
      }
      &__label {
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      &__item {
        margin: 3px 0;
        font-size: 0.9rem;
      }
    }
  }
}
