.skills {
  .skillz {
    display: flex;
    flex-wrap: wrap;

    &__category {
      width: 33.333%;
      margin-bottom: 50px;
      padding-right: 20px;

      @include tablet {
        width: 50%;
      }

      @include mobile {
        width: 100%;
        padding-right: 0;
      }

      &__label {
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 0.9rem;
        letter-spacing: 1px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &__item {
        margin: 0 0 5px 0;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
}
