<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently studying at
      <a class="underline-link" href="https://adgitmdelhi.ac.in/" target="_blank">Dr. Akhilesh Das Gupta Institute of Technology & Management</a> building things for making my life easier and happier.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably working-out, riding bike,
      or crossing off another item on my bucket list.
    </p>

     {% include employment-status.html %} 
  </div>
</section>
