<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m currently building backend systems at
      <a class="underline-link" href="https://www.publicissapient.com/" target="_blank">Publicis Sapient</a> for
      <a class="underline-link" href="https://www.galaxy.com/" target="_blank">Galaxy Digital</a>, where I help move money, data, and crypto around safely and at scale. Think: Kubernetes migrations, Kafka pipelines, secure asset orchestration — the kind of stuff that breaks when you're not careful. I make it not break.
    </p>

    <p>
      I’m obsessed with clean architecture, boring-but-beautiful APIs, and systems that scale without drama. I love working with early teams where nothing is figured out and duct tape still holds value.
    </p>

    <p>
      <strong>When I’m not deep in logs or terminals</strong>, I’m probably lifting heavy things, riding fast bikes, or chasing one of too many side quests on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
