<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://covid-tracker-mohit.netlify.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/covidtracker.PNG" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://covid-tracker-mohit.netlify.app/" target="_blank">World Covid-19 Tracker</a>
        </div>
        <p>Created a global Covid-19 cases tracker app in React and added various filters, map with color coding and impact wise sorting also added local storage to remember the last used filter</p>
      </figcaption>
    </div>
    
  </div>
</section>
