<section class="section skills">
    <div class="section__title"> </div>
    <div class="section__content">
        <div class="skillz">
            <div class="skillz__category">
                <div class="skillz__category__label">Cloud & DevOps</div>
                <ul>
                    {% for item in site.data.skills.cloud_and_devops %}
                    <li class="skillz__category__item">{{item.item}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="skillz__category">
                <div class="skillz__category__label">AI/ML</div>
                <ul>
                    {% for item in site.data.skills.ai_ml %}
                    <li class="skillz__category__item">{{item.item}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="skillz__category">
                <div class="skillz__category__label">Observability & Practices</div>
                <ul>
                    {% for item in site.data.skills.observability_and_practices %}
                    <li class="skillz__category__item">{{item.item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
